body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1;
}

main {
    margin: 0 0 50px;
}
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #002844;
    padding: 10px;
}

textarea:hover {
    outline: 2px solid #43cae844;
    outline-offset: -2px;
}

textarea:focus {
    outline: 2px solid #43cae8;
    outline-offset: -2px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: #1e5680;
    border-radius: 0;
    border-bottom: 5px solid #277794;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#currentdate {
    color: #009abd;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 2em 0;
}

.description {
    white-space: pre-wrap;
    padding: 10px;
}

.description.lock {
    pointer-events: none;
}

.timeblock {
    text-align: center;
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 2px solid white;
}

.hour {
    background-color: white;
    color: #009abd;
    border-top: 1px dashed #6bddf7;
    border-right: 3px solid white;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 80px;
    font-size: 75%;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: default;
}

.past {
    background-color: #ebf4f7;
}

.past .hour {
    border-top: 1px dashed #9bc5d3;
    color: #659bad;
}

.past .description {
    color: #659bad;
}

.present {
    background-color: #6bddf7;
}

.future {
    background-color: #baecf7;
}

.saveBtn {
    border-left: 2px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*
.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}
*/
.saveBtn.saved {
    background-color: white;
    color: #06aed5;
}

.saveBtn.hide {
    background-color: white;
    border-radius: 0;
    pointer-events: none;
}